WorkChain/.vs/
WorkChain/packages/
WorkChain/WorkChain.Core/obj/
WorkChain/WorkChain.Core/bin/
WorkChain/WorkChain.Interfaces/obj/
WorkChain/WorkChain.Interfaces/bin/
WorkChain/WorkChainWebService/bin/
WorkChain/WorkChainWebService/obj/
WorkChain/WorkChain.Components/bin/
WorkChain/WorkChain.Components/obj/
WorkChain/WorkChain.Enums/bin/
WorkChain/WorkChain.Enums/obj/
